
p.find-us-on-yelp
  a(href="http://www.yelp.com/biz/nesta-steel-drum-band-granada-hills", title="Find us on Yelp")
    img(src="/images/content/find-us-on-yelp.png" border="0", alt="Find us on Yelp")
