

extends ../../layout

block config
  - var body_class = 'index';

block content
  != outputContentBlock('slideshow', page)
  ul#sounds
    li.solos-and-duos
      a(href="/sounds/solos-and-duos")
        img(src="/images/layout/solos-and-duos-sm.jpg", alt="Solo &amp; Duo Sounds")
        span Solos &amp; Duos
    li.trios-and-larger
      a(href="/sounds/trios-and-larger")
        img(src="/images/layout/trios-and-larger-sm.jpg", alt="Trios &amp; Larger")
        span Trios &amp; Larger
    li.wedding-and-acoustic
      a(href="/sounds/wedding-and-acoustic")
        img(src="/images/layout/wedding-and-acoustic-sm.jpg", alt="Wedding &amp; Acoustic")
        span Wedding &amp; Acoustic
  #content-main-outer
    != outputContentBlock('main', page)
