
div.image_upload
  h5 Upload New
  form(method="post", enctype="multipart/form-data", action="/cms/images")
    div
      input(type="file", name="file", class="file")
    div
      img.upload_preview(width="200")
    div
      button.btn.upload(type="button") Upload 

