
h5 Upload New
form(method="post", enctype="multipart/form-data", action="/cms/images")
  input(type="file", name="image", id="image")
  br
  img.upload_preview(width="200")
  button.btn#upload(type="upload") Upload 

