doctype html
html
  head
    title Nesta Steel Drum Band
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
  body
    header
      nav.navbar
          ul.nav.nav-pills
            li.home
              a(href="/") Home
            li
              a(href="/about") About Us
            
    div#content
      block content

    footer
    
