doctype html
html
  head
    title Test
    //meta(name="csrf", content="xxxxxxxxxxxxxxxx")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //link(rel="stylesheet", href="/bower_components/normalize-css/normalize.css")
    //link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    //link(rel="stylesheet", href="/css/main.css")
  body
    header
      nav.navbar
          ul.nav.nav-pills
            li.home
              a(href="/") Home
            
    div#content
      block content

    footer
    
