doctype html
html
  head
    title Nesta Steel Drum Band
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
  body
    header
      nav.navbar.navbar-default.navbar-static-top
        div.container-fluid
          ul.nav.navbar-nav
            li.home
              a(href="/") Home
            li
              a(href="/about") About Us
            li
              a(href="/sounds") Sounds
            li
              a(href="/pricing") Pricing
            li
              a(href="/contact-us") Contact Us
            
    div#content
      block content

    footer
    
