doctype html
html
  head
    title Nesta Steel Drum Band
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
  body
    header
      nav.navbar.navbar-default.navbar-static-top(roll="navigation")
        div.container-fluid
          div.navbar-right
            div.text-center
              a(href="/", alt="Nesta Steel Drum Band") Nesta Steel Drum Band
          ul.nav.navbar-nav
            li.home
              a(href="/") Home
            li
              a(href="/about") About Us
            li.dropdown
              a.dropdown-toggle(href="/band-configurations", data-toggle="dropdown") Band Configurations
              ul.dropdown-menu
                li
                  a(href="/band-configurations/solos-and-duos") Solos and Duos
                li
                  a(href="/band-configurations/trios-or-larger") Trios or Larger
                li
                  a(href="/band-configurations/wedding-and-acoustic") Wedding and Acoustic Music
            li.dropdown
              a.dropdown-toggle(href="/sounds", data-toggle="dropdown") Sounds
              ul.dropdown-menu
                li
                  a(href="/sounds/solos-and-duos") Solos and Duos
                li
                  a(href="/sounds/trios-or-larger") Trios or Larger
                li
                  a(href="/sounds/wedding-and-acoustic") Wedding and Acoustic Music
            li
              a(href="/pricing") Pricing
            li
              a(href="/testimonials") Testimonials
            
    div#content
      block content

    footer
    script(src="/bower_components/jquery/jquery.min.js", type="text/javascript") 
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js", type="text/javascript") 
