block vars
doctype html
html
  head
    title Nesta Steel Drum Band - Los Angeles
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
    link(rel="stylesheet", href="/dist/css/main.css")
  body
    header
      div.navbar.navbar-default.navbar-static-top(role="navigation")
        div.container-fluid
          div.navbar-right
            div.text-center
              a(href="/", title="Nesta Steel Drum Band") Nesta Steel Drum Band
          nav
            ul.nav.navbar-nav
              li.home
                a(href="/") Home
              li
                a(href="/about") About Us
              li.dropdown
                a.dropdown-toggle(href="/sounds", data-toggle="dropdown") Sounds
                ul.dropdown-menu
                  li
                    a(href="/sounds/solos-and-duos") Solos and Duos
                  li
                    a(href="/sounds/trios-or-larger") Trios or Larger
                  li
                    a(href="/sounds/wedding-and-acoustic") Wedding &amp; Acoustic Music
              li
                a(href="/pricing") Pricing
              li
                a(href="/clients") Clients
              li
                a(href="/testimonials") Testimonials
              li
                a(href="/faq") FAQ

    div.container-fluid#main 
      div#content
        block content
    hr

    footer
      p
        | &copy; Nesta Steel Drum Band<br>
        | Santa Clarita, CA<br>
        | (310) 666-3464
      p
        | Visit us on 
        a(href="https://www.facebook.com/pages/Nesta-steel-drum-band/191308657554842") Facebook 
        | and 
        a(href="https://plus.google.com/+Nestasteelband") Google+ 
      ul.links
        li.home
          a(href="/") Home
        li
          a(href="/about") About Us
        li
          a(href="/sounds/solos-and-duos") Solos and Duos
        li
          a(href="/sounds/trios-or-larger") Trios or Larger
        li
          a(href="/sounds/wedding-and-acoustic") Wedding &amp; Acoustic Music
        li
          a(href="/pricing") Pricing
        li
          a(href="/clients") Clients
        li
          a(href="/testimonials") Testimonials
        li
          a(href="/faq") FAQ
        li
          a(href="/links") Links
    script(type="text/javascript").
      window.app_data = {
        env: '#{settings.env}'
      };

    script(type="text/javascript", data-main="/js/main", src="/bower_components/requirejs/require.js")

