
extends layout

block content
  form(name="login", method="post", action="/login")
    input(type="text", name="username", placeholder="Username")
    br
    input(type="password", name="password", placeholder="Password")
    br
    input(type="submit", value="Login")
    input(type="hidden", name="_csrf", value="#{csrf}")
