
div.modal
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close.cancel(type="button", aria-hidden="true") &times;
        h4.modal-title
      div.modal-body
      div.modal-footer
        button.btn.btn-default.cancel(type="button") Cancel
        button.btn.btn-primary.save(type="button") Save 
