
div.content_block_editor
  textarea
  div.details
    ul.file_links
      li.add_image
        a(href="javascript:void(0);") Add Image
      li.add_sound
        a(href="javascript:void(0);") Add Sound File
    div.image_preview
      img
