
div.content_block_editor
  textarea
  div.details
    ul.file_links
      li.add_file.image
        a(href="javascript:void(0);") Add Image
      li.add_file.sound
        a(href="javascript:void(0);") Add Sound File
      //- li.add_file.video
      //-  a(href="javascript:void(0);") Add Video
    div.image_preview
      p.error
      img
