
.content-block-editor
  .form
  .details
    ul.file-links
      li.add-file.image
        a(href="javascript:void(0);") Add Image
      li.add-file.sound
        a(href="javascript:void(0);") Add Sound File
    .image-preview
      p.error
      img
