
.content-block-editor
  .form
  .details
    ul.file-links
      li
        a.images(href="javascript:void(0);") Images
      li
        a.sounds(href="javascript:void(0);") Sounds
    .image-preview
      p.error
      img
