
- var ts = (new Date).getTime()

td.image
  img(src="/user/images/#{image.path}?ts=#{ts}") 
td.path
  span!= image.path
td.size!= bytesToSize(image.size)
td.edit
  ul
    li
      a.remove(href="javascript:void(0);") Remove
    li
      a.add-to-content(href="javascript:void(0);") Add to Content
