
div.image-upload
  form(role="form", method="post", enctype="multipart/form-data", action="/cms/images")
    div.form-group
      label(for="file") Upload new file
      input(type="file", name="file", class="file", id="file")
      p.upload_progress
      p.error
    div.upload_preview
      img(width="200")
      br
    div
      button.btn.upload(type="button") Upload 

