
- var ts = (new Date).getTime()

td.image
  img(src="/user/images/#{image.path}?ts=#{ts}") 
td.path
  span!= image.path
td.size!= bytesToSize(image.size)
td.remove
  a(href="javascript:void(0);") Delete
