
td.path
  span!= sound.path
td.size!= bytesToSize(sound.size)
td.edit
  ul
    li
      a.add-to-content(href="javascript:void(0);") Add to Content
    li
      a.remove(href="javascript:void(0);") Remove
