
.error {
  color: red;
}

.content_block:hover {
  background: #ffffd3;
}

.content_block_editor {
  .details {
    overflow: hidden;
    .image_preview {
      width: 200px;
      margin-top: 5px;
      overflow: hidden;
      float: right;
      text-align: left;
      img {
        width: 200px;
        display: block;
        padding: 0;
        margin: 0;
        cursor: pointer;
        clear: both;
      }
    }
    .image_controls {
      display: block;
      float: left;
      width: 300px;
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        display: block;
        float: left;
      }
    }
  }
  textarea {
    font-family: Monaco, "Lucida Console", Courier, monospace;
    font-size: 12px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 300px;
    width: 100%;
  }
}

.cms_page_controls {
  
}

.images {
  .scroller {
    overflow: auto;
    max-height: 350px;
    position: relative;
  }
  td {
    height: 100px;
  }
  tr {
    cursor: pointer;
  }
  tr:hover {
    background: #f3f3f3;
  }
  tr.selected {
    background: #ffffd3;
  }
  td {
    text-align: left;
  }
  td.image {
    width: 100px;
    img {
      width: 125px;
    }
  }
}

.image_upload {
  padding: 5px;
  div {
    padding: 5px;
  }
}
