
div.cms {
  color: red;
}

a.cms {
  color: red;
  &:hover {
    color: red;
    opacity: 0.7;
  }
}

.error {
  color: red;
}

.error input, .error textarea {
  color: black;
}

.content-block .content {
  padding: 7px;
  position: relative;
  &:hover {
    background: #ffffd3;
    position: relative;
    cursor: pointer;
    &:before {
      content: 'Edit';      
      position: absolute;
      right: 5px;
      z-index: 50;
      background: inherit;
      font-family: sans-serif;
      font-size: 13px;
      font-weight: bold;
      color: red;
      padding: 3px 7px;
    }
  }
}

textarea {
  font-family: Monaco, "Lucida Console", Courier, monospace;
  font-size: 12px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.modal {
  textarea {
    width: 99%;
    height: 100px;
    resize: none;
  }
  .modal-header, .modal-footer {
    border: none;
  }
}



.content-block-editor {
  fieldset > div {
    margin-bottom: 15px;
  }

  .details {
    overflow: hidden;
    .image-preview {
      width: 200px;
      margin-top: 5px;
      overflow: hidden;
      float: right;
      text-align: left;
      img {
        width: 200px;
        display: block;
        padding: 0;
        margin: 0;
        clear: both;
      }
    }
    .file-links {
      display: block;
      float: left;
      width: 300px;
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
      }
    }
  }
  textarea[name="content"] {
    height: 300px;
    width: 100%;
  }
  textarea[name="class_names"] {
    height: 30px;
    width: 100%;
  }
}

.content-block-menu {
  margin-bottom: 20px;
}

ul.horiz-menu {
  overflow: hidden;
  padding: 0;
  li {
    list-style-type: none;
    display: block;
    float: left;
    margin-right: 3px;
    a {
      color: red;
      font-size: 12px;
    }
  }
  
}

.files {
  .scroller {
    overflow: auto;
    max-height: 350px;
    position: relative;
  }
  td {
    font-size: 14px;
    min-height: 90px;
  }
  /*tr:hover {
    background: #f3f3f3;
  }*/
  tr.selected {
    background: #ffffd3;
  }
  td {
    text-align: left;
  }
  td.image {
    text-align: center;
    img {
      height: 85px;
    }
  }
  td.path {
    width: 40%;
  }
  td.edit {
    width: 160px;
    li {
      list-style-type: none;
      a {
        font-size: 13px;
        white-space: nowrap;
      }
    }
  }
}

.upload {
  padding: 5px;
  div {
    padding: 5px;
  }
}


