
@import "./bootstrap.less";

#content {
  max-width: 720px;
}

.content_block {
  overflow: hidden;
}

table {
  .table;
}

th, td {
  text-align: center;
}

tbody > tr > td:first-child {
  text-align: left;
}

.navbar {
}

img {
  margin: 10px;
  float: right;
  display: block;
}

.devborder {
  border: 1px solid red;
}

footer {
  font-size: 12px;
  padding: 0 15px;
  ul.links {
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      list-style-type: none;
      display: block;
      float: left;
      margin-right: 15px;
    }
  }
}

blockquote {
}

#overlay {
  display: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 999999;
}


