
@import "./bootstrap.less";

#content {
  max-width: 720px;
}

table {
  .table;
}

th, td {
  text-align: center;
}

tbody > tr > td:first-child {
  text-align: left;
}

.navbar {
}

img {
  vertical-align: top;
  margin: 10px;
  float: right;
}

.devborder {
  border: 1px solid red;
}

footer {
  margin-top: 20px;
  ul.links {
    padding: 10px; 
    margin: 0;
    li {
      list-style-type: none;
      display: block;
      float: left;
      margin-right: 15px;
    }
  }
}

