
@import "./bootstrap.less";
@import "./variable-overrides.less";
@import "./futura-book.less";

@link-highlight-color: #fcd870;

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

.drop-shadow {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.content-box {
  margin-top: 30px;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  .drop-shadow;
  padding: 40px 40px;
}

.content-img {
  /* Faux centering */
  width: 60%;
  position: relative;
  left: 20%;
  margin: 20px 0;
}

.content-ul {
  text-align: center;
  padding: 0;
  li {
    margin: 0 auto;
    display: inline-block;
    width: 45%;
    img {
      width: 100%;
      position: static;
    }
    &:first-child {
      margin-right: 12px;
    }
    &:last-child {
      margin-left: 12px;
    }
  }
}

table {
  /* Copy bootstrap .table to all tables */
  .table;
  th, td {
    text-align: center;
  }
  tbody > tr > td:first-child {
    text-align: left;
  }
}

a:hover, a:focus {
  text-decoration: none;
}

body {
  font-family: Futura-Book, sans-serif;
  position: relative;
  padding-top: 70px;
}

/* Fixed background */

#bg {
  background-image: url(/images/layout/main-bg.jpg);
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  z-index: -500;
}

header {
  .navbar {
    margin-bottom: 0;
    border-bottom: 2px solid #6e0d15;
    background-color: #0d5d6f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .navbar-nav > li > a {
      color: #fefefe;
      text-transform: uppercase;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
      &:hover {
        color: #ddd;
      }
      &:active {
        color: #ccc;
      }
    }
    .navbar-nav > li.current > a {
      color: @link-highlight-color;
    }
  }
  .navbar-left {
    .logo {
      display: block;
      width: 280px;
      height: 152px;
      background: url(/images/layout/logo.png);
      position: absolute;
      top: -8px;
      left: 0;
      margin: 0 auto;
      z-index: 50;
      span {
        display: none;
      }
    }
  }
  /* Keep navigation from running up over logo */
  .navbar-right {
    margin-left: 280px;
  }
}

#main {
  width: 100%;
  text-align: center;
}

#main-inner {
  margin: 0 auto;
  margin-top: 38px;
  width: 80%;
  max-width: 840px;
  /* For IE 8 */
  background: #eee;
  /* For all others */
  background: rgba(255, 255, 255, 0.85);
  padding: 35px 65px;
  .content-block {
    text-align: left;
    .clearfix;
    .content {
      h1 {
        font-size: 34px;
      }
      h1, h2 {
        text-align: center;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 26px;
      }
      li > h2 {
        text-align: left;
      }
      a.playing {
        font-weight: bold;
      }
      img {
        border: 10px solid #fff;
        width: 100%;
        .drop-shadow;
      }
      p, td, th, li {
        font-family: Georgia, serif;
        h1, h2, h3, h4, h5, h6 {
          font-family: Futura-Book;
        }
      }
      p > img {
        margin: 15px 0;
      }
      
      /* Content themes */
      
      /* Mix lists of photos and regular text lists within the same content
         block */
      &.photos {
        img {
          .content-img;
          width: 50%;
          left: 25%;
        }
        /* Treat the first list after an h2 as a list of images, lined up
           side-by-side */
        h2 + ul {
          .content-ul;
          li {
            width: 35%;
          }
        }
      }
      
      /* Applies the "content-box" translucent boxes to all lists in the
         content block */
      &.list-boxes {
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style-type: none;
            .content-box;
            blockquote {
              border: none;
              margin: 0 0 30px 0;
              padding: 0px;
              font-size: 16px;
            }
          }
          h2 {
            margin-top: 0;
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  margin-top: 55px;
  font-size: 12px;
  padding: 0 15px 7px 15px;
  color: #eee;
  a {
    color: #afd5f5;
    &:hover {
      color: #c8e2f8;
    }
  }
  ul.links {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: inline;
      margin-right: 15px;
    }
  }
}

/* Home page */

body.index {
  #main-inner {
    padding: 0;
    #content-slideshow {
      .content ul {
        padding: 0;
        position: relative;
        padding-bottom: 67%;
        width: 100%;
        li {
          position: absolute;
          width: 100%;
          list-style-type: none;
          img {
            display: block;
            width: 100%;
            border-color: #ddd;
          }
        }
        li:not(:first-child) {
          display: none;
        }
      }
    }
    #sounds {
      .clearfix;
      .drop-shadow;
      margin-top: 10px;
      padding: 0;
      padding-left: 5px;
      background: #e9ddd0;
      li {
        list-style-type: none;
        width: 33%;
        display: block;
        padding: 10px 5px;
        float: left;
        a {
          width: 100%;
          display: block;
          position: relative;
          outline: none;
          img {
            width: 100%;
            display: block;
          }
          span {
            position: absolute;
            width: 100%;
            height: 33%;
            /* This needs to align with brown wavy texture at bottom of image */
            top: 66%;
            display: block;
            span {
              position: absolute;
              /* Attempt to vertically center. Not perfect, but close enough */
              top: 38%;
              width: 100%;
              display: block;
              line-height: 20px;
              font-size: 17px;
              color: #fff;
              text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
            }
          }
          &:hover {
            span span {
              color: @link-highlight-color;
            }
            img {
              outline: 3px solid #6c0e16;
              /* This is mainly for firefox, so that there isn't any space
               between the image and the outline */
              outline-offset: -3px;
              opacity: 0.9;
            }
          }
          &:active {
            opacity: 0.8;
          }
        }
      }
    }
    #content-main-outer {
      padding: 15px 35px;
    }
  }
}

/* About page */
/* <<<<<<<<<<<<<< this needs to be moved to content themes */
body.about {
  #main-inner {
    .content img {
      .content-img;
    }
    .content ul {
      .content-ul;
    }
  }
}

/* Media players and controls */

#players {
  width: 100%;
  /*overflow: hidden;*/
  position: fixed;
  top: 15%;
  text-align: center;
  z-index: 1010;
  #jplayer {
    height: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 350px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    .drop-shadow;
    .player-ui {
      padding: 8px;
      ul {
        margin: 0 0 10px 0;
        padding: 0;
        text-align: left;
        li {
          display: inline-block;
          a {
            color: white;
            span {
              display: none;
            }
          }
        }
        &.stats {
          li {
            margin-right: 10px;
            &.jp-title {
              margin-right: 50px;
              font-size: 15px;
              font-style: italic;
            }
            &.jp-current-time, &.jp-duration {
              float: right;
              font-size: 13px;
            }
          }
        }
        &.controls {
          li {
            margin-right: 20px;
            a {
              font-size: 18px;
              /* Jplayer wants to hide play and pause, so override this */
              display: inline !important;
              &:active {
                opacity: 0.7;
              }
            }
          }
        }
      }
      .jp-seek-bar {
        width: 100%;
        height: 4px;
        background: #fff;
        cursor: pointer;
        .jp-play-bar {
          background: red;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  #youtube {
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    z-index: 1011;
    width: 75%;
    /* Make room for close button */
    padding: 0 25px;
    .close {
      display: block;
      float: right;
      margin-right: -15px;
      color: #fff;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    .player-container {
      clear: both;
      padding-bottom: 56.25%;
      position: relative;
      left: 0;
      width: 100%;
      .player {
        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: #000;
        }
      }
    }
  }
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #000;
  opacity: 0.9;
}

/* Small screen stuff */

@media only screen and (max-width: 767px) {
  body {
    padding-top: 0;
  }
  header {
    .navbar {
      position: static;
      padding-top: 0;
      .navbar-left .logo {
        width: 120px;
        height: 65px;
        top: 0;
        background-image: url(/images/layout/logo-sm.png);
      }
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #fefefe;
    }
    .navbar-right {
      margin-left: 0;
    }
  }
  #main {
    padding: 0;
    #main-inner {
      width: 100%;
      margin-top: 0;
      padding: 0 10px;
      .content-block .content img {
        /*border-width: 5px;*/
      }
    }
  }
  body.index {
    #main-inner {
      #sounds {
        li a {
          span span {
            font-size: 14px;
          }
          &:hover {
            img {
              opacity: 0.65;
            }
          }
        }
      }
      #content-main-outer {
        padding: 15px;
      }
    }
  }
  #players {
    #youtube {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 499px) {
  body.index {
    #main-inner #sounds {
      li a {
        span span {
          font-size: 10px;
          line-height: 10px;
        }
      }
    }
  }
  #main-inner .content-block .content img {
    border-width: 6px;
  }
  body.about #main-inner .content img {
    width: 100%;
    position: static;
  }
}

