
#jplayer
  .player-container
    .player
    .player-ui
      ul.stats
        li.jp-title
        li.jp-duration
        li.jp-current-time
      ul.controls
        li.pause-play
          a.jp-play(href="javascript:void(0);", title="Play")
            span Play
          a.jp-pause(href="javascript:void(0);", title="Pause")
            span Pause
        li.stop
          a.jp-stop(href="javascript:void(0);", title="Stop")
            span Stop
        li.volume
          ul
            li.volume-up
              a(href="javascript:void(0);", title="Volume Up")
            li.custom-volume-bar
            li.volume-off
              a(href="javascript:void(0);", title="Volume Off")
      
      .custom-seek-bar

