
#jplayer
  .player-container
    .player
    .player-ui
      ul.stats
        li.jp-title
        li.jp-duration
        li.jp-current-time
      ul.controls
        li
          a.glyphicon.glyphicon-play.jp-play(href="javascript:void(0);", title="Play")
            span Play
          a.glyphicon.glyphicon-pause.jp-pause(href="javascript:void(0);", title="Pause")
            span Pause
        li
          a.glyphicon.glyphicon-stop.jp-stop(href="javascript:void(0);", title="Stop")
            span Stop
        li.volume
          .jp-volume-bar
            .jp-volume-bar-value
      
      .jp-seek-bar
        .jp-play-bar

