
#jplayer
  .player-container
    //- a.close
    .player
    .player-ui
      .jp-seek-bar
        .jp-play-bar
      ul
        li.jp-current-time
        li.jp-duration
      ul
        li
          a.jp-play(href="javascript:void(0);") Play
        li
          a.jp-pause(href="javascript:void(0);") Pause
        li
          a.jp-stop(href="javascript:void(0);") Stop

