
div#jplayer
  a.close(href="javascript:void(0);") x
  .player
  .player-ui
    div.jp-seek-bar
      div.jp-play-bar
    ul
      li.jp-current-time
      li.jp-duration
    ul
      li
        a.jp-play(href="javascript:void(0);") Play
      li
        a.jp-pause(href="javascript:void(0);") Pause
      li
        a.jp-stop(href="javascript:void(0);") Stop

