
#jplayer
  .player-container
    .player
    .player-ui
      ul.stats
        li.jp-title
        li.jp-duration
        li.jp-current-time
      ul.controls
        li
          a.jp-play(href="javascript:void(0);", title="Play")
            span Play
          a.jp-pause(href="javascript:void(0);", title="Pause")
            span Pause
        li
          a.jp-stop(href="javascript:void(0);", title="Stop")
            span Stop
        li.volume
          .volume-down
          .custom-volume-bar
          .volume-up
      
      // .jp-seek-bar
      // .jp-play-bar
      .custom-seek-bar
        

